package {{.Options.PackageName}}

import (
	"net/http"
	"github.com/gin-gonic/gin"
	"github.com/go-kratos/kratos/v2/log"
	kgin "github.com/go-kratos/gin"
)

{{range .Services}}{{generateServiceHandlerWithGroups .}}{{end}}

{{range .RouteGroups}}{{generateRouteGroupHandler .}}{{end}}

{{if .StandaloneRoutes}}{{generateStandaloneRoutesHandler .StandaloneRoutes}}{{end}}

